[Unit]
Description=Wireguard setup script
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=oneshot
ExecStart=/etc/wireguard/install.sh

[Install]
WantedBy=multi-user.target